.scroll-float {
    overflow: hidden;
    margin-bottom: 60px;
  }
  
  .scroll-float-text {
    display: inline-block;
    font-size: clamp(1.6rem, 6vw, 10rem);
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    color: #ffffff;
    margin-left: 50px;
    margin-top: 150px;
  }
  
  .char {
    display: inline-block;
  }